# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
*.egg

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Celery
celerybeat-schedule
celerybeat.pid

# Environments (virtualenv)
.env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
